<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlc.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.jlc.bean.Course">
    <id column="course_id" jdbcType="INTEGER" property="id" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_Desc" jdbcType="VARCHAR" property="description" />
    <result column="course_Capacity" jdbcType="INTEGER" property="capacity" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="course_Grade" jdbcType="INTEGER" property="grade" />
    <result column="course_credit" jdbcType="INTEGER" property="credit" />
    <result column="course_occupied" jdbcType="INTEGER" property="occupied" />
    <result column="course_class" jdbcType="VARCHAR" property="courseclass" />
    <result column="course_teacher" jdbcType="VARCHAR" property="courseTeacher" />
  </resultMap>
  <sql id="Base_Column_List">
    course_id, course_name, course_Desc, course_Capacity, organization_id, course_Grade, course_credit, course_occupied, course_class, course_teacher
  </sql>
  <select id="findCourseById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{id,jdbcType=INTEGER}
  </select>
   	
   <select id="findCoursePageCondition" resultMap="BaseResultMap" parameterType="PageInfo">
  	 select 
  	 c.course_id,
  	 c.course_name,
  	 c.course_Desc,
  	 c.course_Capacity,
  	 c.organization_id,
  	 c.course_grade,
  	 c.course_credit,
  	 c.course_occupied,
  	 c.course_class,
  	 c.course_teacher,
  	 s.name AS organizationName
    from course c
    LEFT JOIN organization s ON s.id = c.organization_id
    <trim prefix="WHERE" prefixOverrides="AND|OR ">
            <if test=" condition.organizationId != null ">
               and
                <foreach collection="condition.organizationId" index="index" item="item" separator="or">     
				 	t.organization_id = #{item}
    			</foreach>
            </if>
       </trim>
    LIMIT #{from}, #{size}
  </select>	
   
  <select id="findCoursePageCount" resultType="java.lang.Integer" parameterType="PageInfo">
        select count(*) count
        from course
    <!-- <trim prefix="WHERE" prefixOverrides="AND|OR ">
    <if test = "condition.id!= null and condition.id != ''">
    	and course_id = #{condition.id}
    </if>
  
    </trim> -->
  </select>
    
  <delete id="deleteCourseById" parameterType="java.lang.Integer">
    delete from course
    where course_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jlc.bean.Course">
    insert into course (course_name, course_Desc, 
      course_Capacity, organization_id, course_Grade, course_credit, course_occupied, course_class, course_teacher
      )
    values (#{courseName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, #{credit,jdbcType=INTEGER},
      #{occupied,jdbcType=INTEGER}, #{courseclass,jdbcType=VARCHAR}, #{courseTeacher,jdbcType=VARCHAR}
      )
  </insert>

   <select id="findCourseByCourseName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from course
        where course_name = #{courseName}
    </select>

  <update id="updateCourse" parameterType="com.jlc.bean.Course">
    update course
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        course_Desc = #{description,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        course_Capacity = #{capacity},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId},
      </if>
      <if test="grade != null">
        course_Grade = #{grade},
      </if>
      <if test="credit != null">
        course_credit = #{credit},
      </if>
      <if test="occupied != null">
        course_occupied = #{occupied},
      </if>
      <if test="courseTeacher != null">
        course_teacher = #{courseTeacher}
      </if>
    </set>
    where course_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jlc.bean.Course">
    update publicparam
    set public_code = #{publicCode,jdbcType=VARCHAR},
      public_value_id = #{publicValueId,jdbcType=VARCHAR},
      public_value_name = #{publicValueName,jdbcType=VARCHAR},
      public_name = #{publicName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where course_id = #{id}
  </update>
</mapper>